.game-board {
  margin: 10vh auto 8vh auto;
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.game-row {
  width: auto;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.game-tile {
  height: 7.5vh;
  line-height: 7.5vh;
  aspect-ratio: 1;
  border: 2px solid lightgrey;
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
}

.filled {
  border: 2px solid grey;
  animation: grow-tile 100ms;
}

.correct {
  --tileColor: #6AAA64;
}

.in-word {
  --tileColor: #C9B458;
}

.not-in-word {
  --tileColor: #787C7E;
}

@keyframes grow-tile {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes flip-tile {
  0% {
    transform: rotateX(0deg);
    background-color: white;
    color: black;
    border: 2px solid grey; 
  }

  50% {
    transform: rotateX(90deg);
    background-color: white;
    color: white;
    border: 2px solid transparent;
  }

  100% {
    transform: rotateX(0deg);
    background-color: var(--tileColor);
    border: 2px solid transparent;
    color: white;
  }
}

@keyframes win-tile {
  0%, 100% {
    z-index: 15;
    transform: translate(0%, 0%);
  }

  50%{
    transform: translate(0%, -20%);
  }
}

@media only screen and (max-device-width: 480px) {
  .game-board {
    margin: 1.5vh auto 2vh auto;
  }
}

