.game-board {
  margin: 10vh auto 8vh auto;
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.game-row {
  width: auto;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.game-tile {
  height: 7.5vh;
  line-height: 7.5vh;
  aspect-ratio: 1;
  border: 2px solid lightgrey;
  text-align: center;
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
  font-size: xx-large;
}

.filled {
  border: 2px solid grey;
}

.correct {
  --tileColor: forestgreen;
  --tileOpacity: 0.75;
}

.in-word {
  --tileColor: darkgoldenrod;
  --tileOpacity: 0.65;
}

.not-in-word {
  --tileColor: black;
  --tileOpacity: 0.5;
}

@keyframes flip-tile {
  0% {
    transform: rotateX(0deg);
    background-color: white;
    color: black;
    opacity: 100%;
    border: 2px solid grey; 
  }

  50% {
    transform: rotateX(90deg);
    background-color: white;
    color: white;
    opacity: 100%;
    border: 2px solid transparent;
  }

  100% {
    transform: rotateX(0deg);
    background-color: var(--tileColor);
    opacity: var(--tileOpacity);
    border: 2px solid transparent;
    color: white;
  }
}

@media only screen and (max-device-width: 480px) {
  .game-board {
    margin: 1.5vh auto 2vh auto;
  }
}

