.game-board {
  margin: 10vh auto 8vh auto;
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.game-row {
  width: auto;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.game-tile {
  height: 7.5vh;
  line-height: 7.5vh;
  aspect-ratio: 1;
  border: 2px solid lightgrey;
  text-align: center;
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
  font-size: xx-large;
}

.filled {
  border: 2px solid grey;
}

.in-word {
  background-color: darkgoldenrod;
  opacity: 0.65;
  border: 2px solid transparent;
  color: white;
}

.not-in-word {
  background-color: black;
  opacity: 0.55;
  border: 2px solid transparent;
  color: white;
}

.correct {
  background-color: forestgreen;
  opacity: 0.75;
  border: 2px solid transparent;
  color: white;
}
