.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
}

.title {
  font-family: 'Rockwell', 'Times New Roman';
  font-weight: bolder;
  font-size: 2em;
  pointer-events: none;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 10vh;
  margin-bottom: 0.75vh;
}

.header-icon {
  cursor: pointer;
}
