.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 8px;
}

.keyboard-row {
  display: flex;
  gap: 6px;
  justify-content: space-around;
}

.keyboard-key {
  height: 7vh;
  aspect-ratio: 0.75;
  line-height: 7vh;
  background-color: #d3d6da;
  border-radius: 10%;
  text-align: center;
  font-weight: bold;
  font-size: 0.7em;
  cursor: pointer;
  user-select: none;
}

.enter {
  aspect-ratio: 1.25;
  font-weight: bolder;
  font-size: 0.75em;
}

.del {
  aspect-ratio: 1.25;
  display: flex;
  align-items: center;
  justify-content: center;
}

.key-correct {
  background-color: forestgreen;
  opacity: 0.75;
  color: white;
}

.key-in-word {
  background-color: darkgoldenrod;
  opacity: 0.65;
  color: white;
}

.key-not-in-word {
  background-color: black;
  opacity: 0.5;
  color: white;
}

@media only screen and (max-device-width: 480px) {
  .keyboard-key {
    height: 8vh;
    line-height: 8vh;
    aspect-ratio: 0.55;
  }
  .enter {
    aspect-ratio: 0.9;
  }
  .del {
    aspect-ratio: 0.8;
  }
}
